Update these with your Supabase details from your project settings > API
NEXT_PUBLIC_SUPABASE_URL=https://sszwqoipedidinptgxfj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNzendxb2lwZWRpZGlucHRneGZqIiwicm9sZSI6ImFub24iLCJpYXQiOjE2NjExMTM0MTcsImV4cCI6MTk3NjY4OTQxN30.Eq59iD5Im3gZz2_UB9dlTSNaAUeFXYrtVT5lPEtpEYE